.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;

}

.background{
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;

     FONT-SIZE: 50PX;
    COLOR: white;
    FONT-STYLE: italic;
    FONT-WEIGHT: NORMAL;
    text-align: center;

  }
  .message-container {
      margin-top: 20px;
    }

    .message {
      font-size: 40px;
      color: cadetblue;
      text-align: -webkit-center;
      margin-top: 100px;
    }
    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      color: darkcyan;
    }

    .form-group {
      margin-bottom: 20px;
    }

    label {
      display: block;
      font-weight: bold;
    }

    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      padding: 10px;
    }

    button[type="submit"] {
      padding: 10px 20px;
      color: teal;
    }

